.noPrint {
    display: none;
}

header {
    font-size: x-small;
}

div[name="contentRow"] {
  column-count: 2;
}

.print-two-col {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}